<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Business World</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="../images/logo.jpg" rel="icon"/>

<link href="../stylesheets/style.css" rel="stylesheet" type="text/css" />
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
</head>

<div class="header_block">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li><a href="/admin" class="active">AdminHome</a></li>
          <li><a href="/admin/manageusers" class="active">ManageUsers</a></li>
          <li><a href="/login" class="active">Logout</a></li>
          <li>
            <a href="" style="color:white;font-size: 15px;font-weight: bold;">
            <span >Welcome : Admin</span></a>
          </li>
        </ul>
        
      </div>
      <div class="clr"></div>
    </div>
</div>