<% include header %>

  <body>
    <!-- START PAGE SOURCE -->
    <div class="main">
      <div class="clr"></div>
      <div class="header">
        <div class="logo">
          <h1><a href="#">Business <span>World</span><small>Simple web template</small></a></h1>
        </div>
        <div class="clr"></div>
      </div>
      <div class="content">
        <div class="mainbar">
          <div class="article">
            <h2><span>Users Page</span></h2><br>
            <div class="clr"></div>
          </div>
        </div>
        <div class="sidebar">
          <div class="gadget">
            <h2 class="star"><span>Sidebar</span> Menu</h2>
            <div class="clr"></div>
            <ul class="sb_menu">
              <li class="active"><a href="#">@Facebook</a></li>
              <li><a href="#">@Gmail</a></li>
              <li><a href="#">@Instagram</a></li>
              <li><a href="#">@LinkedIn</a></li>
            </ul>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <% include footer %>